*{text-decoration: none;font-family: Verdana, Geneva, Tahoma, sans-serif;box-sizing: border-box;}
header{
    width: 100%;height: 120px;background-color: rgba(20,80,90,1);
}
header img{
    height: 60px;width: 60px;display: block;float: left;margin:10px;border-radius: 50%;
}
header div{
    width: 65%;height: 60px;float: left;margin-top: 20px;
    padding-top: 10px;font-size: 44px;color: white;
}
header span{
    display: inline-block;color: rgba(0,180,0,1);font-size: 42px;margin: 15px 0px 15px 15px;
}
nav{
    background-color: rgba(78,94,90,1);padding: 10px;width: 100%;
}
nav a{
    font-size: 35px;color: white;margin-right: 15px;display: inline-block;
}
nav a i{
    font-size: 30px;margin: 0px 6px;
}
.div_sign_in{
    padding: 25px 20px;background-color: rgba(240,240,240,1);
    border: 1px solid rgba(9,9,9,0); width:100%;
}
.divP1{
    border: 1px solid rgb(150,150,150);margin-right: auto;margin-left: auto;padding:10px;
    margin-bottom: 20px;border-radius: 5px; width:100%; height 3000px; display: block;
}
.divP1 p{
    border-bottom: 1px solid rgb(150,150,150);font-size: 39px;padding-bottom: 9px;
    text-align: center;
}
.divP1 span{
    padding-bottom: 18px;display: inline-block; font-size:23px;
}
form span{
    color:red;
}
section {
    font-size:30px;
}
form input, form textarea{
    border: 1px solid rgb(140,140,140);height: 80px;padding: 5px;border-radius: 5px;
    font-size: 30px; width:250px;
}
.sign_in{
    background-color: rgba(20,80,90,1);color: white;text-align: center;padding: 20px;
    font-size:51px;margin-top: 16px;border-radius: 5px;cursor: pointer;height: 80px; width:250px;
}
form input:hover,form input:focus, .sign_in:hover, form textarea:hover{
   border-color: rgba(20,80,90,1);box-shadow: 2px 2px 30px rgba(20,80,90,1);
}
#hiddenContent{
    display:none;color: rgb(140,0,0);padding: 20px;
}
#hiddenContent a{
    background-color: rgba(20,80,90,1);color: white;text-align: center;padding: 10px;
    font-size: 20px;margin-top: 16px;border-radius: 5px;cursor: pointer;display: inline-block;    
}
.divP2{
    width:100%; height: 600px; border: 1px solid blue; display:block;
    padding:20px;
}
.divP2 p{
    padding: 10px;font-size: 38px;color: rgba(0,80,0,1);border: 1px solid rgba(0,80,0,1);
    border-radius: 5px;box-shadow: 2px 2px 20px rgba(0,80,0,1);
}
.divP2 span{
    display: block; padding: 7px 5px; font-size:28px;
}
footer{
    width: 100%;height: 150px;padding: 7px;background-color: rgba(20,80,90,1);color: white;
}
footer span{
    display: inline-block;margin: 0px 10px 10px 0px;font-size:30px;
}
/* Media query for devices with 320 to 480pxs WIDTH */
@media screen and (max-width:480px) and (min-width:320px){
    form input{
        width:220px;
    }
    .sign_in{
        width: auto; padding:20px;
    }
}
/* Media query for devices with 481 to 720pxs WIDTH */
@media screen and (max-width:720px) and (min-width:480px){
header div{
    padding-left: 10%;
 }
 form input{
    width:320px;
}
.sign_in{
    width: auto;
}
}
/* Media query for devices with 720 to 5000pxs WIDTH */
@media screen and (max-width:5000px) and (min-width:720px){
    header div{
        padding-left: 40px;font-size: 18px;
    }
    header span{
        display: block;float:left;width: 100%;font-size: 14px;text-align: center;margin: 0px;
    }
    nav a{
        font-size: 15px;margin-right: 50px;
    }
    nav a i{
        font-size: 13px;
    }
    .div_sign_in{
        float: left;
    }
    .divP1{
        width: 50%;margin: 0px;float: left;font-size: 15px;
    }
    .divP2{
        width: 30%;margin:0px 0px 0px 15%;float: left;font-size: 15px;
    }
    .divP2 p{
        margin-top: 80px;font-size: 14.5px;
    }
    form input{
        width:280px;
    }
    .sign_in{
        font-size: 18px;width: auto;
    }
    footer{
        float: left;font-size: 15px;
    }
    footer span{
        margin-left: 25px;
    }
}
